<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.AppraiseMapper" >
  <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.Appraise" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="appDate" property="appdate" jdbcType="DATE" />
    <result column="appResult" property="appresult" jdbcType="VARCHAR" />
    <result column="appContent" property="appcontent" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, eid, appDate, appResult, appContent, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from appraise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from appraise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.javaboy.vhr.model.Appraise" >
    insert into appraise (id, eid, appDate, 
      appResult, appContent, remark
      )
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{appdate,jdbcType=DATE}, 
      #{appresult,jdbcType=VARCHAR}, #{appcontent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.javaboy.vhr.model.Appraise" >
    insert into appraise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="appdate != null" >
        appDate,
      </if>
      <if test="appresult != null" >
        appResult,
      </if>
      <if test="appcontent != null" >
        appContent,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="appdate != null" >
        #{appdate,jdbcType=DATE},
      </if>
      <if test="appresult != null" >
        #{appresult,jdbcType=VARCHAR},
      </if>
      <if test="appcontent != null" >
        #{appcontent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.javaboy.vhr.model.Appraise" >
    update appraise
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="appdate != null" >
        appDate = #{appdate,jdbcType=DATE},
      </if>
      <if test="appresult != null" >
        appResult = #{appresult,jdbcType=VARCHAR},
      </if>
      <if test="appcontent != null" >
        appContent = #{appcontent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.javaboy.vhr.model.Appraise" >
    update appraise
    set eid = #{eid,jdbcType=INTEGER},
      appDate = #{appdate,jdbcType=DATE},
      appResult = #{appresult,jdbcType=VARCHAR},
      appContent = #{appcontent,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>