<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>你好，
    <span th:text="${name}"></span>童鞋，欢迎加入XXX大家庭！您的入职信息如下：</p>
<table border="1" cellspacing="0">
    <tr>
        <td><strong style="color: #F00">工号</strong></td>
        <td th:text="${workID}"></td>
    </tr>
    <tr>
        <td><strong style="color: #F00">合同期限</strong></td>
        <td th:text="${contractTerm}+'年'"></td>
    </tr>
    <tr>
        <td><strong style="color: #F00">合同起始日期</strong></td>
        <td th:text="${#dates.format(beginContract, 'yyyy-MM-dd')}"></td>
    </tr>
    <tr>
        <td><strong style="color: #F00">合同截至日期</strong></td>
        <td th:text="${#dates.format(endContract, 'yyyy-MM-dd')}"></td>
    </tr>
    <tr>
        <td><strong style="color: #F00">所属部门</strong></td>
        <td th:text="${departmentName}"></td>
    </tr>
    <tr>
        <td><strong style="color: #F00">职位</strong></td>
        <td th:text="${posName}"></td>
    </tr>
</table>
<p>
    <strong style="color: #F00; font-size: 24px;">
        希望在未来的日子里，携手共进!
    </strong>
</p>
</body>
</html>