<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.DepartmentMapper">
    <select id="addDep" statementType="CALLABLE">
        call addDep(#{dep.name,mode=IN,jdbcType=VARCHAR},#{dep.parentId,mode=IN,jdbcType=INTEGER},#{dep.enabled,mode=IN,jdbcType=BOOLEAN},#{dep.result,mode=OUT,jdbcType=INTEGER},#{dep.id,mode=OUT,jdbcType=BIGINT})
    </select>
    <select id="deleteDep" statementType="CALLABLE">
        call deleteDep(#{dep.id,mode=IN,jdbcType=INTEGER},#{dep.result,mode=OUT,jdbcType=INTEGER})
    </select>
    <resultMap id="BaseResultMap" type="org.sang.bean.Department">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="isParent" property="isParent"/>
        <collection property="children" ofType="org.sang.bean.Department" select="org.sang.mapper.DepartmentMapper.getDepByPid" column="id">
        </collection>
    </resultMap>
    <select id="getDepByPid" resultMap="BaseResultMap">
        select d1.*from department d1 where d1.`parentId`=#{pid} AND d1.enabled=true;
    </select>
    <select id="getAllDeps" resultType="org.sang.bean.Department">
        select * from department WHERE enabled=true;
    </select>
</mapper>