<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.HrDictMapper">
  <resultMap id="BaseResultMap" type="org.sang.bean.HrDict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="dictName" jdbcType="VARCHAR" property="dictName" />
    <result column="dictValue" jdbcType="INTEGER" property="dictValue" />
    <result column="isfixed" jdbcType="INTEGER" property="isfixed" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `desc`, dictName, dictValue, isfixed
  </sql>
  <select id="selectByExample" parameterType="org.sang.example.HrDictExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hr_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hr_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hr_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.sang.example.HrDictExample">
    delete from hr_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sang.bean.HrDict">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hr_dict (`desc`, dictName, dictValue, 
      isfixed)
    values (#{desc,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, #{dictValue,jdbcType=INTEGER}, 
      #{isfixed,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.sang.bean.HrDict">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hr_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="desc != null">
        `desc`,
      </if>
      <if test="dictName != null">
        dictName,
      </if>
      <if test="dictValue != null">
        dictValue,
      </if>
      <if test="isfixed != null">
        isfixed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=INTEGER},
      </if>
      <if test="isfixed != null">
        #{isfixed,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sang.example.HrDictExample" resultType="java.lang.Long">
    select count(*) from hr_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hr_dict
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.desc != null">
        `desc` = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.dictName != null">
        dictName = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictValue != null">
        dictValue = #{record.dictValue,jdbcType=INTEGER},
      </if>
      <if test="record.isfixed != null">
        isfixed = #{record.isfixed,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hr_dict
    set id = #{record.id,jdbcType=INTEGER},
      `desc` = #{record.desc,jdbcType=VARCHAR},
      dictName = #{record.dictName,jdbcType=VARCHAR},
      dictValue = #{record.dictValue,jdbcType=INTEGER},
      isfixed = #{record.isfixed,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sang.bean.HrDict">
    update hr_dict
    <set>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        dictName = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dictValue = #{dictValue,jdbcType=INTEGER},
      </if>
      <if test="isfixed != null">
        isfixed = #{isfixed,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sang.bean.HrDict">
    update hr_dict
    set `desc` = #{desc,jdbcType=VARCHAR},
      dictName = #{dictName,jdbcType=VARCHAR},
      dictValue = #{dictValue,jdbcType=INTEGER},
      isfixed = #{isfixed,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>