<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.PositionMapper">
    <insert id="addPos" parameterType="org.sang.bean.Position">
        INSERT INTO position set name=#{pos.name}
    </insert>
    <select id="getPosByName" resultType="org.sang.bean.Position">
        SELECT * FROM position WHERE name=#{name}
    </select>
    <select id="getAllPos" resultType="org.sang.bean.Position">
        SELECT * FROM position WHERE enabled=true ORDER BY id;
    </select>
    <delete id="deletePosById">
        DELETE FROM position WHERE id IN
        <foreach collection="pids" item="pid" separator="," open="(" close=")">
            #{pid}
        </foreach>
    </delete>
    <update id="updatePosById">
        UPDATE position set name=#{pos.name} WHERE id=#{pos.id}
    </update>
</mapper>