<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.SalaryMapper">
    <insert id="addSalary" parameterType="org.sang.bean.Salary">
            insert into salary (bonus, lunchSalary,
      trafficSalary, basicSalary,
      pensionBase, pensionPer, createDate,
      medicalBase, medicalPer, accumulationFundBase,
      accumulationFundPer, name)
    values (#{salary.bonus,jdbcType=INTEGER}, #{salary.lunchSalary,jdbcType=INTEGER},
      #{salary.trafficSalary,jdbcType=INTEGER}, #{salary.basicSalary,jdbcType=INTEGER},
      #{salary.pensionBase,jdbcType=INTEGER}, #{salary.pensionPer,jdbcType=REAL}, #{salary.createDate,jdbcType=TIMESTAMP},
      #{salary.medicalBase,jdbcType=INTEGER}, #{salary.medicalPer,jdbcType=REAL}, #{salary.accumulationFundBase,jdbcType=INTEGER},
      #{salary.accumulationFundPer,jdbcType=REAL}, #{salary.name,jdbcType=VARCHAR})
    </insert>
    <select id="getAllSalary" resultType="org.sang.bean.Salary">
        SELECT * FROM salary;
    </select>
    <update id="updateSalary" parameterType="org.sang.bean.Salary">
        update salary
        <set>
            <if test="salary.bonus != null">
                bonus = #{salary.bonus,jdbcType=INTEGER},
            </if>
            <if test="salary.lunchSalary != null">
                lunchSalary = #{salary.lunchSalary,jdbcType=INTEGER},
            </if>
            <if test="salary.trafficSalary != null">
                trafficSalary = #{salary.trafficSalary,jdbcType=INTEGER},
            </if>
            <if test="salary.basicSalary != null">
                basicSalary = #{salary.basicSalary,jdbcType=INTEGER},
            </if>
            <if test="salary.allSalary != null">
                allSalary = #{salary.allSalary,jdbcType=INTEGER},
            </if>
            <if test="salary.pensionBase != null">
                pensionBase = #{salary.pensionBase,jdbcType=INTEGER},
            </if>
            <if test="salary.pensionPer != null">
                pensionPer = #{salary.pensionPer,jdbcType=REAL},
            </if>
            <if test="salary.createDate != null">
                createDate = #{salary.createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="salary.medicalBase != null">
                medicalBase = #{salary.medicalBase,jdbcType=INTEGER},
            </if>
            <if test="salary.medicalPer != null">
                medicalPer = #{salary.medicalPer,jdbcType=REAL},
            </if>
            <if test="salary.accumulationFundBase != null">
                accumulationFundBase = #{salary.accumulationFundBase,jdbcType=INTEGER},
            </if>
            <if test="salary.accumulationFundPer != null">
                accumulationFundPer = #{salary.accumulationFundPer,jdbcType=REAL},
            </if>
            <if test="salary.name != null">
                name = #{salary.name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{salary.id,jdbcType=INTEGER}
    </update>
    <delete id="deleteSalary">
        DELETE FROM salary WHERE id IN
        <foreach collection="ids" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteSalaryByEid">
        DELETE FROM empsalary WHERE eid=#{eid}
    </delete>
    <insert id="addSidAndEid">
        INSERT INTO empsalary set eid=#{eid},sid=#{sid}
    </insert>
</mapper>