<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.SysMsgMapper">
    <insert id="sendMsg" useGeneratedKeys="true" parameterType="org.sang.bean.MsgContent" keyProperty="id">
        INSERT INTO msgcontent(message,title) VALUES(#{message},#{title});
    </insert>
    <insert id="addMsg2AllHr">
        INSERT INTO sysmsg(mid,hrid) VALUES
        <foreach collection="hrs" item="hr" separator=",">
            (#{mid},#{hr.id})
        </foreach>
    </insert>
    <select id="getSysMsg" resultMap="BaseResultMap">
        select sm.*,mc.`message`,mc.`title`,mc.`createDate`,mc.`id` as mcid from sysmsg sm,msgcontent mc where sm.`mid`=mc.`id` and sm.`hrid`=#{hrid} order by mc.`createDate` desc limit #{start},#{size}
    </select>
    <resultMap id="BaseResultMap" type="org.sang.bean.SysMsg">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="mid" property="mid" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="hrid" property="hrid" jdbcType="BIGINT" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <association property="msgContent" javaType="org.sang.bean.MsgContent">
            <id column="mcid" property="id" jdbcType="BIGINT" />
            <result column="title" property="title" jdbcType="VARCHAR" />
            <result column="message" property="message" jdbcType="VARCHAR" />
            <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>
    <update id="markRead">
        UPDATE sysmsg set state=1 WHERE hrid=#{hrid}
        <if test="flag!=-1">
            AND mid=#{flag}
        </if>
    </update>
</mapper>